@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container {
	@apply px-4 py-10 md:py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20;
}

.active {
	@apply font-medium tracking-wide text-blue-700 transition-colors duration-200 hover:text-blue-500;
}

.default {
	@apply font-medium tracking-wide text-white transition-colors duration-200 hover:text-blue-500;
}

.btn-pr{
	@apply py-3 px-5 bg-blue-400 hover:bg-blue-500 text-white rounded font-semibold
}

.btn-pr-2{
	@apply py-2 px-3 md:px-5 bg-blue-400 hover:bg-blue-500 text-white rounded font-semibold
}
